body 
{
  height: 100vh;
  margin: 0;
}

.textColumn
{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.textColumnText
{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 0px 5px 5px 0px;
}

.textColumnImage
{
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px 0px 0px 5px;
}

#aboutMe
{
font-size: 27px;
}

.topnav 
{
    overflow: hidden;
    background-color: #333;
}
  
.topnav a 
{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover 
{
    background-color: #ddd;
    color: black;
}
  
  .topnav a.active
{
    background-color: #04AA6D;
    color: white;
}

.slideThree 
  {
    width: 80px;
    height: 26px;
    background: #333;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  .slideThree:after 
  {
    content: 'NL';
    color: #ffffff;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15);
  }
  .slideThree:before 
  {
    content: 'EN';
    color: #ffffff;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }
  .slideThree label 
  {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  }
  .slideThree input[type=checkbox] 
  {
    visibility: hidden;
  }
  .slideThree input[type=checkbox]:checked + label 
  {
    left: 43px;
  }

  .bodyTwo
  {
    height: 100%;
    background: rgb(39,193,136);
    background: linear-gradient(90deg, rgba(39,193,136,1) 0%, rgba(138,154,145,1) 100%);
  }

  .bodyThree
  {
    height: 100vh;
    background: rgb(39,193,136);
    background: linear-gradient(90deg, rgba(39,193,136,1) 0%, rgba(138,154,145,1) 100%);
  }

  #videoResize
  {
    width: 50%;
    height: auto;
  }

  #textResize
  {
    width: 50%;
    height: auto;
  }

  #textResizeTwo
  {
    width: 100%;
    height: auto;
  }

  #textResizeThree
  {
    /* width: 50%; */
  }

  #resizeImage
  {
    width:100%;
    height: auto;
  }

  .changeWidth
  {
    width:75%;
  }

  .fitImage
  {
    object-fit:cover;
  }

  .textColumnText p,   .textColumnImage p
  {
    margin-bottom: 0px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

  .btnTwo
  {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: #ffffff00;
  padding: 10px 30px;
  border: solid #ffffff 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition : 1000ms;
  transform: translateY(0);
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  width: 150px;
  }

  .btnTwo a{
    text-decoration: none;
    color: white;
  }

  .btnTwo:hover
  {
  transition : 1000ms;
  padding: 10px 50px;
  transform : translateY(-0px);
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  border: solid 2px #ffffff;
  }

  .btnThree
  {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background-color: #333333;
  padding: 10px 30px;
  border: solid #333333 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 10px;
  transition : 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
  }

  .btnThree:hover
  {
  transition : 1000ms;
  padding: 10px 30px;
  transform : translateY(-0px);
  background-color: #333333;
  color: #ffffff;
  border: solid 2px #333333;
  }

  .btnFour
  {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 50px;
  color: #fff;
  background-color: #333333;
  padding: 10px 30px;
  border: solid #333333 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 10px;
  transition : 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  }

  .btnFour:hover
  {
  transition : 1000ms;
  padding: 10px 30px;
  transform : translateY(-0px);
  background-color: #333333;
  color: #ffffff;
  border: solid 2px #333333;
  }

@media (max-width:450px){
}

@media (max-width:1024px){

}






 






  